# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

<b>Objectives:</b>
- Create a Jupyter Notebook
- Create markdown cell with title of the notebook
- Create a markdown cell for an introduction

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Ruby

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. ggplot

|Data Science Tools|
|:------------------:|
| RStudio |
| Apache Spark |
| Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Shayan Sheikh